// @import './varieble';
* {
    padding: 0; margin: 0;
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
    &::before, &::after {
        padding: 0;margin: 0;
    }
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient($color-pink 0%, $color-violet 100% )
}